/*遮罩區*/
#myFull {
  background-color: rgba(35,35,35,0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
/*廣告區*/
#myContent {
  cursor: pointer;
  position:relative;
}

#myContent img {
  max-width: 40vw;
  max-height: 40vh;
}

#adClose {
  position: absolute;
  right:-1rem;
  top:-1rem;

  background: #eee;
  border-radius: 50%;
  border: 3px solid #000;
  line-height: 0;
}

#adClose:hover {
  background: #ccc;
}
